h3{
	color:blue;
}
.blocMentoring{
	background-color : #50588a;
}
.paragrapheColor{
	color : white;
	font-family: sans-serif;
}
.carousel-inner{
	background-color: #f2f2f2;
	height: 300px;
}
.titreConfiance{
	color: grey;
	font-style : italic;
}
.logoSocial{
	background-color: blue;
	width: 50px;
	height: 50px;
	color:white;
}

.presentation{
	background-image:  url("/img/imageAccueil.jpg");
	background-size: 100% auto;
	height: 700px;
	background-repeat: no-repeat;
	color : white;
}
.thumbnail{
	height: 300px;
}
.paragraphePresentation{
	color : white;
	font-family: sans-serif;
	font-size: 1.5vw;
}
.menuNav{
	height:200px;
}
.champsMenu{
	font-size: 20px;
}
.blocLogo{
	margin-top: 20px;
}
.blocMenu{
	background-color: black;
	border-radius: 5px;
	float:right;
}
.champsMenu:hover{
	background-color: black;
	border-radius: 5px !important;
	color : #c03b2b;
}
.champsMenu{
	color : #c03b2b;
}
.presentationEntete{
	color : white;
	text-align: center;
}
.margeDiv{
	margin-top: 60px;
}
#PresentationAccueil{
	/*background-color: rgba(44, 62, 80, 0.2);*/
}
.paragraphePlan{
	color : black;
	font-size: 40px;
}
.paragrapheContact{
	color:black;
}
.imageMarge, .paragrapheMarge{
	margin-top: 40px;
}
.paragrapheObjectif{
	text-align : justify;
	color : black;
	font-size: 25px;
}