/******** NAVBAR ********/

#collapsiblenav {
    z-index: 2;
}

.navbar-header {
    z-index: 3;
}

nav>div, .navbar-header {
    height: 100%;
}

.navbar-brand {
    float: none;
}

.navbar-nav>li>a, .navbar-dropdown>div>a {
    cursor: pointer;
}

.navbar-dropdown:hover>div>a {
    background-color: transparent;
    text-decoration: none;
    border-bottom: 5px solid #fff;
    padding-bottom: 0;
}

.nav-two {
    background-color: #50588a;
}

.nav-two .navbar-nav>li>a, .navbar-dropdown>div>a {
    color: #FFF;
}

.navbar-dropdown>div>div {
    overflow: hidden;
    padding-bottom: 5px;
    visibility: hidden;
    transition: all 0.1s linear;
    position: absolute;
    width: 100%;
}

.navbar-dropdown ul {
    padding: 0;
    list-style-type: none !important;
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
    position: relative;
    top: -60px;
    visibility: hidden;
}

.navbar-dropdown ul {
    padding: 0 0 0 15px;
    list-style-type: none !important;
}

.navbar-dropdown>a, .navbar-dropdown>div>a {
    margin-bottom: 0 !important;
}

#nav-pos {
    z-index: 3;
    margin-top: -1px;
}

.dropdown-menu {
    top: 60px;
}

#nav-replacement {
    height: 177px;
    margin-top: 1px;
}

#nav-replacement div{
    height: 178px;
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
}

@media only screen and (max-width: 1325px) and (min-width: 986px) {
    #nav-pos, #nav-replacement {
        height: 177px;
    }
    #nav-replacement div {
        height: 178px;
    }
}

@media only screen and (max-width: 1198px) {
    #nav-pos, #nav-replacement{
        height: 133px;
    }
     #nav-replacement div {
         height: 134px;
     }
}

@media only screen and (max-width: 767px) {
    #nav-pos, #nav-replacement {
        height: 63px;
    }
     #nav-replacement div {
         height: 64px;
     }
    .navbar-collapse.width {
        background: linear-gradient(rgba(27, 38, 103, 0.75), rgba(27, 38, 103, 0.75)), url('/bundles/graphefront/images/pattern.png');
        position: absolute;
        left: -48%;
        border-top: none;
        transition: all .35s ease;
        z-index: 9999;
    }
}
