namespace Graphe\FrontBundle\Resources\public\css;
@CHARSET "UTF-8";

/********** CONTACT **********/

.contact-form {
    margin-bottom: 0 !important
}


/*****************************/


/******** FIRST SLIDE ********/

#cookie-bar a:first-child {
    margin-right: -18px;
}

#first-slide {
    min-height: 300px;
}

.hp-landing h1, .hp-landing h2, .hp-landing h3, .hp-landing a {
    color: #fff;
}

.hp-landing h1 {
    letter-spacing: 1px;
    font-size: 60px;
    font-weight: 600;
}

.hp-landing h2 {
    padding-bottom: 50px;
    font-size: 26px;
    max-width: 90%;
    margin: 20px auto 10px auto;
}

.hp-landing-text {
    display: inline-block;
    vertical-align: middle;
}


/*.hp-landing-bottom h2 {
	font-size: 35px;
}*/

.hp-landing-text {
    padding-top: 11%;
    overflow: hidden;
}

.navbar-brand {
    background: transparent url('/bundles/graphefront/images/logo/unatti-white.png') 0 0 no-repeat;
    padding: 0;
    width: 335px;
    height: 100px;
    /*margin: 30px 0px;*/
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
}

.navbar-nav>li>a {
    margin: 66px 25px;
    padding: 0 0 5px 0;
    font-weight: 600;
}

.nav>li>a:hover {
    background-color: transparent;
    text-decoration: none;
    border-bottom: 5px solid #fff;
}

.landing-nav {
    margin-bottom: 0;
    position: fixed;
    padding: 0 35px;
    border: none;
    border-radius: 0;
    width: 100%;
    height: 177px;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
}

.landing-nav a {
    color: #fff;
}

.bg-landing {
    background: linear-gradient( rgba(55, 31, 0, 0.37), rgba(0, 0, 0, 0));
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 85%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    min-height: 478px;
}

.unatti-nav ul {
    padding: 22px;
}


/*.hp-landing-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	margin-top: 50px;
	padding-bottom: 30px;
}*/

.navbar-toggle {
    margin: 50px 0;
}

.icon-bar {
    background-color: #fff;
}

.btn-white-lp-unatti {
    background-color: #fff;
    border: none;
    color: #f3307a;
    border-radius: 4px;
    padding: 11px 65px;
    font-size: 22px;
    display: inline-block;
}

div#cookie-bar {
    position: absolute;
    width: 100%;
    z-index: 9000;
    top: 0;
    left: 0;
}


/*****************************/


/*********** FOOTER ***********/

.client-logo-container>div:first-child {
    width: 68%;
}


/*****************************/


/******** SECOND SLIDE ********/

.back-side>div:first-child {
    display: inline-block;
    vertical-align: middle;
    width: 99%;
}

.front-side .fa {
    font-size: 2em;
}

.goals-wrapper {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 101%;
    width: 101%;
    position: absolute;
    top: -1px;
    left: -1px;
}

.goals-wrapper>div {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 50%;
}

#second-slide {
    position: relative;
    padding: 1px 0px 20px 0;
}

#second-slide-container {
    width: 80%;
    padding: 0;
    margin: auto;
}

.second-slide-goals {
    display: inline-block;
    margin: 20px 50px;
    padding: 0;
    background-color: white;
    /*border-radius: 5px;
    color: #50588A;
    width: 46%;
    border: 1px solid #d4d4d4;
    height: 220px;*/
    border-radius: 50%;
    color: #50588A;
    width: 500px;
    height: 500px;
    border: 10px solid #50588A;
    position: relative;
}

.second-slide-goals:hover .goals-wrapper {
    transform: rotate3d(0, 1, 0, -180deg);
}

.second-slide-goals .front-side h2 {
    margin: 0 0 10px 0;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}

.second-slide-goals .back-side p {
    display: inline-block;
    /*padding: 5px 10px;*/
    width: 90%;
    /*margin: 5px 5px;*/
    /*background-color: #50588A;*/
    color: white;
    font-size: 1.3em;
}


/******************************/


/******** THIRD SLIDE ********/

#third-slide {
    padding: 0px 0;
    color: #50588A;
    position: relative;
    overflow-y: hidden;
}

#third-slide img {
    width: 39%;
    box-shadow: 0px 0px 15px #8f8c8c;
    margin-top: 30px;
}

#third-slide-container {
    width: 80%;
    margin: auto;
}

#third-slide-container div {
    display: inline-block;
    margin: 20px 4.8%;
    width: 40%;
    text-align: center;
    font-weight: bold;
    vertical-align: top;
}


/*****************************/


/******** FOURTH SLIDE ********/

#fourth-slide {
    padding-top: 10px;
}

#fourth-slide p {
    color: #50588A;
    font-weight: bold;
    width: 60%;
    margin: 40px auto;
}


/******************************/


/******** FIFTH SLIDE ********/

#fifth-slide {
    background-color: #545489;
    padding: 1px 0 80px 0;
    color: white;
}

#fifth-slide h1 {
    width: 90%;
    margin: 20px auto;
    color: white;
}

#fifth-slide>h2 {
    font-size: 2em;
    margin: 30px 0;
}

.study {
    display: inline-block;
    width: 15%;
    background-color: #8385b7;
    vertical-align: top;
    margin: 5px 15px;
    box-shadow: 1px 1px 2px black;
    line-height: 17px;
    box-shadow: 0 0 10px #2f2f2f;
}

.study div {
    /*background-color: #8385b7;*/
    padding: 5px 5px;
}

.study h2 {
    margin: 5px 0;
    font-weight: bold;
    font-size: 1.5em;
}

.study img {
    max-height: 80%;
    max-width: 88%;
    vertical-align: middle;
}

.study p {
    margin: 0;
    padding: 5px 10px;
}

.study-img-container {
    background-color: white;
    width: 100%;
    height: 160px;
    /*position: relative;*/
}


/*****************************/


/******** SIXTH SLIDE ********/

.quote {
    font-size: 1.8em;
}

#sixth-slide {
    padding: 1px 0;
}

#sixth-slide a {
    text-decoration: none !important;
    color: #50588a !important;
}

.slick-active button {
    background-color: #50588a !important;
}

.slick-arrow {
    border: none;
    color: rgba(255, 255, 255, 0);
    height: 150px;
    width: 97px;
    vertical-align: top;
    margin-top: 70px;
}

.slick-dots {
    list-style: none;
    padding: 0;
}

.slick-dots button {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #50588a;
    color: rgba(255, 255, 255, 0);
    width: 13px;
    height: 13px;
    padding: 0;
}

.slick-dots li {
    display: inline-block;
    margin: 0 2px;
}

.slick-prev.slick-arrow {
    background: url("/bundles/graphefront/images/icons/left-arrow.png") 0 0 no-repeat;
}

.slick-next.slick-arrow {
    background: url("/bundles/graphefront/images/icons/right-arrow.png") 0 0 no-repeat;
}

.slide {
    color: #50588A;
    width: 100%;
}

.slide img {
    max-width: 70px;
    display: block;
    margin: 20px auto;
}

.slide p {
    width: 79%;
    display: block;
    margin: auto;
}

.slide span {
    font-weight: bold;
}

.slide-to-not-show {
    visibility: hidden;
    display: inline-block;
    width: 0;
}

#slider {
    width: 100%;
    height: 368px !important;
}

#slider-breadcrumbs {
    bottom: 3px !important;
    width: 100%;
}


/*****************************/


/******** SEVENTH SLIDE ********/

#seventh-slide {
    padding-top: 1px;
    color: #50588A;
    overflow-y: hidden;
    padding-bottom: 0;
}

#seventh-container {
    width: 80%;
    margin: auto;
}

#seventh-container div {
    display: inline-block;
}

.seventh-content {
    width: 17%;
    vertical-align: top;
    margin: 20px 10px 50px 10px;
    padding: 0 10px;
}

.seventh-content img {
    display: block;
    margin: auto;
}

.seventh-separator {
    height: 100px;
    border-left: 2px solid #f1f1f1;
    margin-top: 20px;
    display: inline-block;
}

#seventh-slide .btn-pink-unatti {
    margin-bottom: 30px;
}

#seventh-slide h2 {
    width: 60%;
    margin: 40px auto;
}

#seventh-slide>img {
    display: block;
    width: 39%;
    margin: auto;
    box-shadow: 0 0 15px #8f8c8c;
}


/*****************************/


/******* A PROPOS *******/

.bg-apropos {
    background: linear-gradient( rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.37)), url('/bundles/graphefront/images/bg-apropos.jpg') 0 0 no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.apropos-landing-content p {
    color: #fff;
    padding-bottom: 30px;
    font-size: 22px;
}

.unatti-buckle {
    background-image: url('/bundles/graphefront/images/pattern.png');
}

.apropos-team-people {
    padding: 15px 15px;
}

.apropos-team-unatti {
    padding: 45px 15px;
}

.apropos-img img {
    display: block;
    width: 225px;
    height: 225px;
    margin: auto;
    border-radius: 50%;
    border: 7px solid #fff;
}

.apropos-team h1 {
    font-size: 43px;
}

.unatti-description {
    background-color: #50588A;
}

.unatti-description p {
    color: #fff;
    padding: 60px 0;
    margin: 0;
}


/************************/


/******** MODALS ********/

div[id^="modal"] {
    display: none;
    height: 90% important;
    margin: 2.5% 5% !important;
    padding: 0;
}

.modal-content {
    width: 50%;
    margin: auto;
}

.modal-content .close {
    margin-top: 5px;
    margin-right: 5px;
}

.modal-dialog {
    display: inline-block;
    width: 99%;
    vertical-align: middle;
}

.modal-dialog p {
    font-weight: unset;
}

.modal-study-name, .modal-study-text {
    display: inline-block;
    vertical-align: top;
}

.modal-study-name {
    width: 20%;
}

.modal-study-name img {
    max-width: 100%;
}

.modal-study-text {
    width: 75%;
    margin: 0 2%;
}


/************************/


/******** GÉNÉRAL *******/

.background-grey {
    background-color: #f1f1f1;
}

.button-container {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

div[id$="-slide"] {
    padding-bottom: 30px;
}

div[id$="-slide"] p {
    font-weight: bold;
}

.hp-constat.splus p {
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    padding: 0;
}

.hp-constat.splus p {
    font-size: 15px;
    color: #9FA5CA;
}

.hp-constat.splus p.splus-subtitle {
    color: #fff
}

.hp-constat.splus ul h3 {
    margin: 0;
}

.hp-constat.splus .text-constats, .hp-constat.splus .col1-content img {
    vertical-align: top;
}

.hp-constat.splus th.col2 {
    display: table-cell;
}

.moving-button {
    background-color: transparent;
    border: none;
    display: block;
    margin: auto;
    width: 76px;
}

.moving-button .hovered {
    display: none;
}


/*.moving-button img {
    margin: auto;
}*/

.moving-button:hover .hovered {
    display: block;
}

.moving-button:hover .not-hovered {
    display: none;
}

.slides-h1 {
    color: #f3307a;
    font-size: 4em;
    margin: 20px;
}

.slides-h2 {
    font-size: 2em;
}

.stuck .navbar-dropdown ul {
    width: 100%;
    background-color: #50588a;
    padding-bottom: 5px;
    padding-top: 20px;
}


/*****************************/

@media only screen and (min-width: 768px) {
    #collapsiblenav {
        height: 100% !important;
    }
    .dropdown {
        margin: 0 45px;
    }
    .navbar-brand {
        margin: 0 !important;
    }
    .nav.navbar-nav.navbar-right {
        height: 100% !important;
    }
    .navbar-nav>li>a, .navbar-dropdown>div>a {
        margin: 0px 14px;
        padding: 0 0 5px 0;
        font-weight: 600;
        display: inline-block;
    }
    .nav.navbar-nav.navbar-right li {
        height: 100%;
    }
    .navbar-dropdown>div {
        vertical-align: middle;
        display: inline-block;
    }
    .stuck {
        position: fixed;
        background-color: #50588a;
        height: 70px !important;
        margin-top: -1px;
    }
    .stuck .navbar {
        max-height: 50%;
    }
    .stuck .navbar-brand {
        max-height: 50%;
    }
}

@media only screen and (max-width: 1545px) and (min-width: 982px) {
    .slides-h1 {
        font-size: 3em;
    }
    .slides-h2 {
        font-size: 1.8em;
    }
}

@media only screen and (max-width: 1545px) and (min-width: 1326px) {
    .hp-constat ul {
        font-size: 17px;
    }
    .apropos-landing-content p {
        font-size: 20px;
    }
    .second-slide-goals {
        width: 420px;
        height: 420px;
    }
}

@media only screen and (max-width: 1325px) and (min-width: 1199px) {
    .dropdown {
        margin: 0 25px;
    }
    #fifth-slide h1 {
        width: 80%;
    }
    .navbar-brand {
        width: 206px;
        height: 57px;
    }
    .navbar-dropdown ul {
        padding-left: 20px;
    }
    .navbar-nav>li>a, .navbar-dropdown>div>a {
        margin: 0px 22px;
        font-size: 16px;
    }
    .hp-usage h2 {
        font-size: 36px;
    }
    .hp-constat ul {
        font-size: 15px;
    }
    .hp-constat td {
        padding: 5px 15px 115px 15px;
    }
    .apropos-landing-content p {
        font-size: 18px;
    }
    .second-slide-goals {
        margin: 0 10px;
        width: 420px;
        height: 420px;
    }
}

@media only screen and (max-width: 1198px) and (min-width: 987px) {
    .back-side>div:first-child {
        width: 82%;
    }
    #fifth-slide h1 {
        width: 90%;
    }
    .hp-usage h2 {
        font-size: 29px;
    }
    .hp-usage p {
        font-size: 15px;
    }
    .hp-usage .col-sm-3 {
        height: 433px;
    }
    .hp-constat ul h3 {
        font-size: 18px;
    }
    .hp-constat ul {
        font-size: 14px;
    }
    .hp-constat td {
        padding: 5px 0 115px 0;
    }
    .hp-mentoring h1, .hp-constat h1, .hp-landing h1, .hp-partners h1 {
        font-size: 45px;
    }
    /*.hp-usage p br, .hp-mentoring p br,.hp-constat p br, .hp-landing h2 br, .hp-constat th br, .hp-constat li br {
		display: none;
	}*/
    .hp-mentoring p {
        font-size: 16px;
    }
    .hp-mentor-img h1 {
        font-size: 38px;
    }
    .hp-constat p {
        font-size: 19px;
    }
    .col1-content img {
        width: 15%;
    }
    .text-constats {
        width: 75%;
    }
    .navbar-brand {
        width: 129px;
        height: 37px;
        margin: 48px 0px;
        background-size: 100%;
    }
    #nav-replacement {
        height: 133px;
    }
    .apropos-landing-content p {
        font-size: 16px;
    }
    .second-slide-goals {
        width: 320px;
        height: 320px;
        margin-right: 30px;
        margin-left: 30px;
    }
}

@media only screen and (max-width: 1100px) and (min-width: 987px) {
    .navbar-nav>li>a, .navbar-dropdown>div>a {
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 986px) and (min-width: 768px) {
    .apropos-landing-content p {
        font-size: 13px;
    }
    .apropos-img img {
        width: 150px;
        height: 150px;
        border: 4px solid #fff;
        margin-top: 20px;
    }
    .apropos-team-people p {
        font-size: 13px;
    }
    .apropos-team h1 {
        font-size: 34px;
    }
    .apropos-team-people h3 {
        font-size: 20px;
    }
    .apropos-team-unatti .apropos-img {
        margin-top: 75px;
    }
    .col1-content img {
        width: 25%;
    }
    .dropdown {
        margin: 0;
    }
    #fifth-slide h1 {
        width: 90%;
        margin: 20px auto;
        font-size: 2em;
    }
    #fifth-slide>h2 {
        font-size: 1.3em;
        width: 86%;
        margin: 20px auto;
    }
    .hp-landing h2 {
        font-size: 22px;
        padding: 0 0 20px 0;
    }
    /*.hp-landing-bottom img {
		width: 10%;
	}*/
    .hp-usage p {
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px;
        height: 66px;
    }
    .hp-usage img.img-conseil {
        padding-bottom: 40px;
    }
    .hp-usage img.img-plateforme {
        padding-bottom: 25px;
    }
    .hp-usage img.img-suivi {
        padding-bottom: 25px;
    }
    .hp-usage .col-sm-3 {
        height: 325px;
    }
    .hp-usage h2 {
        font-size: 20px;
    }
    .hp-usage img {
        width: 50%;
        padding: 0 0 15px 0;
    }
    .hp-mentoring h1, .hp-constat h1, .hp-landing h1, .hp-partners h1 {
        font-size: 40px;
    }
    .hp-mentoring p {
        font-size: 15px;
    }
    /*.hp-usage p br, .hp-mentoring p br,.hp-constat p br, .hp-landing h2 br, .hp-constat th br, .hp-constat li br {
		display: none;
	}*/
    .hp-mentoring .col-sm-2 {
        padding: 15px 5px;
    }
    .hp-mentor-img h1 {
        font-size: 35px;
    }
    .hp-mentor-img {
        padding-bottom: 36%;
    }
    .hp-constat p {
        font-size: 18px;
    }
    .hp-constat th {
        font-size: 25px;
    }
    .hp-constat ul h3 {
        font-size: 15px;
    }
    .hp-constat li {
        font-size: 12px;
    }
    .ligne {
        margin: 0 80px;
    }
    .navbar-brand {
        width: 129px;
        height: 37px;
        margin: 48px 0px;
        background-size: 100%;
    }
    .navbar-dropdown ul {
        font-size: 0.7em;
    }
    .navbar-nav>li>a, .navbar-dropdown>div>a {
        font-size: 0.8em;
    }
    .program-step-text {
        padding: 15px 0;
        font-size: 14px;
    }
    .slides-h1 {
        font-size: 2.5em;
    }
    .slides-h2 {
        font-size: 1.6em;
    }
    .study {
        width: 32%;
        margin: 25px 15px;
    }
    .text-constats {
        width: 60%;
    }
    .unatti-program-formule h2, .unatti-program-step h2, .hp-savoir-bg-text h1 {
        font-size: 35px;
    }
    .unatti-program-step h3 {
        font-size: 22px;
    }
    .unatti-formule-part-text {
        padding: 0 15px;
    }
    .unatti-formule-part-tarifs {
        padding: 57px 9px;
    }
}

@media only screen and (max-width: 1198px) {
    #seventh-slide h2 {
        width: 80%;
    }
    #third-slide h2 {
        font-size: 1.8em;
    }
    .seventh-content {
        width: 45%;
    }
}

@media screen and (max-width: 1100px) {
    .navbar-nav>li>a, .navbar-dropdown>div>a {
        margin: 0 10px;
    }
    .navbar-dropdown ul {
        padding: 0 0 0 10px;
    }
}

@media only screen and (max-width: 986px) {
    .back-side>div:first-child {
        width: 82%;
    }
    .modal-study-name, .modal-study-text {
        width: 100%;
        margin: 0;
    }
    #seventh-slide h2 {
        font-size: 1.5em;
    }
    .second-slide-goals {
        width: 320px;
        height: 320px;
    }
    .slides-h1 {
        font-size: 2em;
    }
    .slides-h2 {
        font-size: 1.5em;
    }
    #third-slide-container {
        text-align: center;
    }
}

@media only screen and (max-width: 991px) {
    #study-slider .slick-arrow {
        display: none !important;
    }
    #study-slider .slick-list.draggable {
        width: 296px !important;
    }
    #study-slider .slick-dots {
        margin-top: 20px;
    }
    #study-slider .slick-dots button {
        background-color: white;
        border: 2px solid white;
    }
    .study img {
        display: inline-block;
    }
}

@media screen and (min-width: 767px) {
    .navbar-dropdown a:hover {
        border: none;
        text-decoration: none;
    }
    .navbar-dropdown:hover>a {
        border-bottom: 5px solid white;
    }
    .navbar-dropdown:hover div {
        visibility: visible;
    }
    .navbar-dropdown ul {
        padding-top: 2px;
    }
    .navbar-dropdown:hover ul {
        visibility: visible;
        top: 0px;
    }
    .navbar-mobile-link {
        display: none !important;
    }
}

@media screen and (max-width: 766px) {
    #community-dropdown.dropingdown {
        height: 70px;
    }
    .navbar-dropdown, .navbar-right>li {
        height: 25px;
    }
    .navbar-dropdown {
        -webkit-transition: all .25s linear;
        -moz-transition: all .25s linear;
        -ms-transition: all .25s linear;
        -o-transition: all .25s linear;
        transition: all .25s linear;
    }
    .navbar-dropdown div {
        left: 40px;
    }
    .navbar-dropdown.dropingdown {
        height: 50px;
    }
    .navbar-dropdown.dropingdown div, .navbar-dropdown.dropingdown ul {
        visibility: visible;
    }
    .navbar-dropdown.dropingdown ul {
        top: 0px;
        font-weight: bold;
    }
    .navbar-desktop-link {
        display: none !important;
    }
}

@media only screen and (max-width: 767px) {
    .apropos-img img {
        width: 150px;
        height: 150px;
        border: 4px solid #fff;
    }
    .apropos-landing-content p {
        font-size: 13px;
        color: #333;
    }
    .apropos-landing-content {
        padding: 25px 15px;
    }
    .apropos-team {
        text-align: center;
    }
    .apropos-team h1 {
        font-size: 40px;
    }
    .apropos-team h3 {
        font-size: 20px;
    }
    .apropos-team p {
        font-size: 13px;
    }
    .bg-apropos {
        background-position: 60% 50%;
    }
    .btn-pink-unatti, .btn-pink-lg-unatti {
        display: inline-block;
        font-size: 17px;
    }
    .btn-locale {
        margin-top: 30px;
    }
    .bg-savoirplus {
        background: linear-gradient( rgba(55, 31, 0, 0.37), rgba(0, 0, 0, 0)), url('/bundles/graphefront/images/bag-and-hands.jpg') 88% 126% no-repeat;
        background-size: 360%;
        width: 100%;
    }
    .btn-white-lp-unatti {
        padding: 11px 50px;
        font-size: 13px;
    }
    .client-logo-container {
        width: 32%;
        padding-bottom: 15px;
    }
    .col1, .col2 {
        width: 100%;
    }
    .douille-table {
        display: block;
    }
    .col1-content img {
        width: 23%;
    }
    #fifth-slide h1 {
        width: 90%;
    }
    #fifth-slide {
        padding-bottom: 10px;
    }
    .hp-mentoring img {
        border: none;
    }
    .hp-usage .col-sm-3 {
        height: 435px;
    }
    .hp-usage p {
        font-size: 21px;
    }
    .hp-usage h2 {
        font-size: 35px;
    }
    .hp-usage img {
        width: auto;
    }
    .hp-landing h1 {
        font-size: 4em;
        font-weight: bold;
    }
    .hp-landing h2 {
        font-size: 1.5em;
        padding: 0 0 10px 0;
        margin-top: 80px;
    }
    /*.hp-landing-bottom img {
-    width: 10%;
-    }*/
    - .hp-mentoring .col-sm-2 div {
        border: none;
    }
    .hp-usage {
        padding-bottom: 35px;
    }
    .hp-usage .btn-pink-unatti {
        margin: 0;
        font-size: 21px;
    }
    .hp-mentoring h1, .hp-constat h1, .hp-landing h1, .hp-partners h1 {
        font-size: 30px;
    }
    .hp-mentor-img h1 {
        font-size: 33px;
    }
    .hp-mentor-img {
        padding-bottom: 55%;
    }
    .hp-constat p {
        font-size: 20px;
    }
    /*.hp-constat th br, .hp-constat li br {
    display: none;
    }*/
    .hp-constat ul h3 {
        font-size: 19px;
    }
    .hp-constat li {
        font-size: 16px;
    }
    /*.hp-landing-bottom {
    padding-bottom: 10px;
    }*/
    .hp-constat ul {
        padding: 0;
    }
    .hp-constat th, .douille-table {
        font-size: 30px;
    }
    /*.hp-mentoring p br, .hp-constat p br, .hp-landing h2 br, .hp-constat th br, .hp-constat li br {
    display: none;
    }*/
    .hp-mentoring p {
        padding-left: 30%;
        padding-right: 30%;
    }
    .hp-mentoring p {
        padding-bottom: 25px;
        border-bottom: 1px solid #aaa083;
    }
    .hp-savoir-bg-text h1 {
        font-size: 30px;
        text-align: center;
        padding-top: 5%;
    }
    .hp-savoir-bg-text {
        padding: 0;
    }
    .ligne {
        margin: 0 150px;
    }
    .hp-constat.splus th.col1 {
        display: none;
    }
    .hp-apropos-bg-text, .hp-apropos-bg-text .row, .hp-apropos-bg-text .col-sm-4 {
        height: 100%;
    }
    .hp-apropos-bg-text h1 {
        position: absolute;
        padding: 0;
        bottom: 25px;
        left: 0;
        right: 0;
        font-size: 45px;
    }
    .landing-nav {
        height: 63px;
        background-color: #50588a;
    }
    .navbar-nav>li>a {
        margin: 25px 45px;
    }
    .nav>li>a:hover {
        border: none;
    }
    .navbar-brand {
        background: transparent url('/bundles/graphefront/images/logo/unatti-white-mini.png') 0 0 no-repeat;
        padding: 0;
        width: 50%;
        background-size: contain;
        height: 20px;
        margin: 19px 0px;
    }
    .navbar-toggle {
        margin: 12px 0;
    }
    .program-step-part-line {
        display: none;
    }
    .program-step-round {
        margin-top: 20px;
    }
    .program-step-text {
        padding: 15px 25px;
        border-bottom: 1px solid #AAA083;
    }
    .quote {
        width: 99% !important;
        font-size: 1.3em;
    }
    .seventh-content {
        width: 56%;
    }
    .slick-arrow {
        display: none !important;
    }
    .stuck .navbar-dropdown ul{
        padding-top: 2px;
    }
    table, thead, tbody, th, td, tr {
        display: block;
    }
    .text-constats {
        width: 75%;
    }
    #third-slide-container div {
        margin: 15px 0;
        width: 100%;
    }
    .title-unatti {
        font-size: 40px;
        text-align: center;
    }
    .title2-unatti {
        font-size: 16px;
        text-align: center;
    }
    th.col2 {
        display: none;
    }
    .unatti-program-formule h2, .unatti-program-step h2 {
        padding: 30px 10px;
        font-size: 26px;
    }
    .unatti-formule-part-text {
        padding: 0 10px 35px 10px;
    }
    .unatti-formule-part-text>h3 {
        font-size: 19px;
    }
    .unatti-formule-part li {
        font-size: 16px;
    }
    .unatti-formule-part {
        padding: 30px 5px;
    }
    .unatti-formule-part-tarifs {
        padding: 30px 13px;
    }
    .unatti-program-step h3 {
        font-size: 23px;
        padding-top: 20px
    }
    .unatti-program-step-part>.container-fluid {
        padding: 0;
    }
    /* Force table to not be like tables anymore */
    /*.unatti-savoir-video {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 80%;
        padding: 0;
    }*/
}

@media only screen and (max-width: 450px) {
    input[type="radio"]+label {
        font-size: 10px;
    }
    input[type="radio"]+label span {
        width: 14px;
        height: 14px;
    }
    .hp-partners h1 {
        font-size: 27px;
    }
    .hp-usage p {
        font-size: 17px;
    }
    .hp-usage h2 {
        font-size: 30px;
    }
    .hp-landing h2 {
        font-size: 19px;
    }
    .btn-white-lp-unatti {
        padding: 11px 47px;
    }
    .hp-constat p {
        font-size: 13px;
    }
    .hp-mentor-img {
        padding-bottom: 80%;
    }
    .hp-constat ul h3 {
        font-size: 17px;
    }
    .hp-constat li {
        font-size: 14px;
    }
    .hp-usage .col-sm-3 {
        height: 400px;
    }
    .hp-mentoring p {
        padding-left: 0;
        padding-right: 0;
        font-size: 17px;
    }
    .hp-mentor-img h1 {
        font-size: 23px;
    }
    .ligne {
        margin: 0 50px;
    }
    .unatti-program-step h3 {
        font-size: 17px;
    }
    .program-step-text {
        padding: 15px 5px;
    }
    .hp-savoir-bg-text h1 {
        padding-top: 35%;
    }
    .client-logo-container>img {
        width: 90px;
    }
    .client-logo-container>img.orange-logo, .client-logo-container>img.danone-logo {
        width: 40px;
    }
    ul.dropdown-menu li {
        background-color: white;
    }
}

@media only screen and (max-width: 405px) {
    .second-slide-container {
        width: 200px;
        height: 200px;
    }
    .goals-wrapper {
        width: 180px;
        height: 180px;
        top: -10px;
        left: -10px;
    }
    .goals-wrapper h2, .goals-wrapper p {
        font-size: 10px !important;
        margin: 0;
    }
    .second-slide-goals {
        width: 180px;
        height: 180px;
        margin: 20px 0;
    }
    #sixth-slide .slick-list.draggable, #fifth-slide .slick-list.draggable {
        width: 260px !important;
    }
    #sixth-slide .slick-track #fifth-slide .slick-track {
        max-width: inherit;
    }
}

@charset "utf-8";
/* CSS Document */

.strength-form input.strength{
    background:transparent;
    -webkit-transition: border .25s linear, color .25s linear;
    -moz-transition: border .25s linear, color .25s linear;
    -o-transition: border .25s linear, color .25s linear;
    transition: border .25s linear, color .25s linear;
    -webkit-backface-visibility: hidden;
    width:100%;
    position:relative;
    z-index:1;
}
.strength-form input[type="password"]:focus,.strength-form input[type="text"]:focus{
    outline:0;
}

.strength-form{
    width: 500px;
    margin: 0 auto;
    position: relative;
}

.strength_meter{
    position: absolute;
    left: 15px;
    top: 0px;
    width: 100%;
    height: 34px;
    z-index:0;
    padding-right:30px;
}

.button_strength {
    text-decoration: none;
    color: #FFF;
    font-size: 13px;
}

.veryweak{
    background-color: #FFA0A0;
    border-color: #F04040!important
}
.weak{
    background-color: #FFB78C;
    border-color: #FF853C!important;
}
.medium{
    background-color: #FFEC8B;
    border-color: #FC0!important;
}
.strong{
    background-color: #C3FF88;
    border-color: #8DFF1C!important;
}

.strength_meter div{
    width:0%;
    height: 34px;
    text-align: right;
    color: #000;
    line-height: 34px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding-right: 12px;
    border-radius:5px;
}
.strength_meter div p{
    position: absolute;
    top: 30px;
    right: 30px;
    color: #CCC;
    font-size:13px;
}

.veryweak{
    background-color: #FFA0A0;
    border-color: #F04040!important;
    width:25%!important;
}
.weak{
    background-color: #FFB78C;
    border-color: #FF853C!important;
    width:50%!important;
}
.medium{
    background-color: #FFEC8B;
    border-color: #FC0!important;
    width:75%!important;
}
.strong {
    background-color: #C3FF88;
    border-color: #8DFF1C !important;
    width: 100% !important;
}